- name: Add Chutes Helm repository
  kubernetes.core.helm_repository:
    name: chutes
    repo_url: https://chutesai.github.io/chutes-miner

- name: Update Helm repositories
  shell: helm repo update

- name: Copy custom values
  ansible.builtin.copy:
    src: "{{ chart_values }}"
    dest: /tmp/chutes-miner-gpu.yaml
    mode: preserve
  register: copy_values_result
  changed_when: copy_values_result.changed

- name: Install or upgrade Chutes GPU charts
  ansible.builtin.command: >
    helm upgrade --install chutes chutes/chutes-miner-gpu
    --namespace chutes
    --kube-context {{ inventory_hostname }}
    --kubeconfig=/etc/rancher/k3s/k3s.yaml
    --create-namespace
    -f /tmp/chutes-miner-gpu.yaml
    --set-string minerCredentials.ss58Address="{{ miner_ss58_address }}"
    --set-string minerCredentials.secretSeed="{{ miner_secret_seed }}"
    {{ ('--version ' + miner_gpu_charts_version) if miner_gpu_charts_version is defined else '' }}
  register: miner_deployment
  changed_when: miner_deployment.rc == 0
  no_log: true

- name: Display deployment result
  ansible.builtin.debug:
    msg: "Miner GPU deployment on {{ inventory_hostname }}: {{ 'SUCCESS' if miner_deployment.rc == 0 else 'FAILED' }}"