apiVersion: batch/v1
kind: CronJob
metadata:
  name: failed-chute-cleanup
spec:
  schedule: "* * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: chutes
          {{- if not .Values.multiCluster}}
          nodeSelector:
            node.kubernetes.io/microk8s-controlplane: microk8s-controlplane
          {{- end }}
          containers:
          - name: cleanup
            image: {{ .Values.failedChuteCleanup.image }}
            imagePullPolicy: {{ .Values.failedChuteCleanup.imagePullPolicy | default "Always" }}
            resources:
              requests:
                cpu: "250m"
                memory: "256Mi"
              limits:
                cpu: "500m"
                memory: "512Mi"
          restartPolicy: OnFailure