---
- name: Install k3s
  ansible.builtin.include_tasks: install.yml
  tags: k3s-install

- name: Setup node
  ansible.builtin.include_tasks: setup_node.yml
  tags: k3s-node

- name: Setup namespaces
  ansible.builtin.include_tasks: setup_namespaces.yml
  tags: namespaces

- name: Add chutes labels to nodes
  block:
    - name: Add IP label
      kubernetes.core.k8s:
        kubeconfig: "{{ k3s_kubeconfig_path }}"
        state: present
        kind: Node
        name: "{{ inventory_hostname }}"
        definition:
          metadata:
            labels:
              chutes/external-ip: "{{ ansible_host }}"
        merge_type: strategic-merge
        
- name: Add worker labels to nodes
  when: is_worker | default(false)
  block:
    - name: Add worker label
      kubernetes.core.k8s:
        kubeconfig: "{{ k3s_kubeconfig_path }}"
        state: present
        kind: Node
        name: "{{ inventory_hostname }}"
        definition:
          metadata:
            labels:
              chutes/worker: "true"
        merge_type: strategic-merge
      
