---
- name: Setup GPU operator
  ansible.builtin.include_tasks: setup_gpu_operator.yml
  tags: gpu-operator

- name: Setup monitoring
  ansible.builtin.include_tasks: setup_monitoring.yml
  tags: monitoring
  when: "'control' not in group_names"

- name: Parse and distribute credentials
  ansible.builtin.include_tasks: "{{ playbook_dir }}/../tasks/charts/parse_credentials.yml"
  tags: miner-credentials

- name: Deploy miner gpu charts
  ansible.builtin.include_tasks: "{{ playbook_dir }}/../tasks/charts/deploy_miner_gpu.yml"
  tags: miner-gpu-charts

- name: Setup miner kubeconfig
  ansible.builtin.include_tasks: setup_miner_kubeconfig.yml
  tags: setup-miner-kubeconfig
  vars:
    cert_name: miner
    cert_organization: chutes
    namespace: default
    store_as: secret   # Options: 'secret' or 'configmap'
